body,div,p,h1,h2,h3,h4,h5,h6,table,tr,td,ul,ol,li,dl,dt,dd,fieldset,form,input,img{
	margin:0;
	padding:0;
}
body{
	width: 100%;
	height: 100%;
	background: #cbcbcb;
}
.box{
	width: 420px;
	height: 530px;
	background: white;
	margin: 50px auto;
}
.box-top{
	width: 420px;
	height: 36px;
	background: #f5f5f5;
	float: left;
}
.box-top h3{
	font-size: 14px;
	line-height: 36px;
	margin-left: 10px;
	color: #565656;
	float: left;
}
.box-top img{
	float: right;
}
.box-center{
	width: 420px;
	height: 52px;
	float: left;
}
.box-center a{
	text-align: center;
	text-decoration: none;
	float: right;
	font-size: 12px;
	color: #515151;
	line-height: 26px;
	background: #fff4f0;
	width: 72px;
	height: 27px;
	border: 1px solid #34b742;
	margin-right: 10px;
	margin-top: 10px;
}



.tab {
	width: 400px;
	height: 356px;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.tab .menu {
	background: #fcfcfc;
	overflow: hidden;
	list-style: none;
}
.tab .menu li{
	box-sizing: border-box;
	float: left;
	width: 133px;
	line-height: 30px;
	text-align: center;
	border-top: 2px solid #fcfcfc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	cursor: pointer;
}
.panel .span{
	font-size: 12px;
}
.panel .input{
	width: 324px;
	height: 38px;
}
.panel .input1{
	height: 38px;
	width: 105px;
}
.panel ul{
	list-style: none;
	margin-top: 14px;
	margin-left: 42px;
}
.panel ul li{
	margin-top: 16px;
}
.panel li .b{
	display: block;
	width: 324px;
	height: 38px;
	background: #6e9b0c;
	color: #f2f1f1;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	border-radius: 4px;
}
.panel li .a{
	font-size: 12px;
	color: #6e9b0c;
	text-decoration: none;
	margin-left: 266px;
}
.panel ul .li input{
	float: left;
}
.panel ul .li img{
    margin-left: 10px;
}

.tab .panel {
	display: none;
}
.tab .panel.active {
	display: block;
}
.tab .menu .menu1:hover{
	border-top: 2px solid #6e9b0c;
}
.tab .menu .menu2:hover{
	border-top: 2px solid #6e9b0c;
}
.tab .menu .menu3:hover{
	border-top: 2px solid #6e9b0c;
}