body,div,p,h1,h2,h3,h4,h5,h6,table,tr,td,ul,ol,li,dl,dt,dd,fieldset,form,input,img{
	margin:0;
	padding:0;
}
body{
	width: 100%;
	height: 100%;
}
.clear:after{
	clear: both;
	height: 0;
	content: "";
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.advertising{
	height: 100%;
	width: 1260px;
}
.header{
	width: 100%;
	height: 34px;
	overflow:hidden;
	font-size: 14px;
	background: #f7f7f7;
}
.header p{
	float: left;
	margin-left: 34px;
	margin-top: 6px;
	color: #999999;
}
.header select{
	float: left;
	margin-top: 6px;
}
.header .img1{
	float: right;
	margin-right: 40px;
	margin-top: 6px;
}
.header1{
	margin-left: 410px;
}
.nav{
	height: 105px;	
}
.nav img{
	float: left;
}
form{

	margin-top: 30px;
}
.inputa{
	float: left;
	margin-left: 100px;
	height: 36px;
	width: 430px;
	border: 2px solid #669900;
	color: #999999;
}
.inputb{
	float: left;
	height: 40px;
	width: 80px;
	background: #669900;
	border: 0;
}
.nav .navc:hover{
	color: #669900;
}
.nav .navc{
	text-decoration: none;
	color: #999999;
	font-size: 12px;
	float:left;
	margin-left: 100px;
}
.nava{
	float:left;
}
.navb{
	margin-left: 60px;
	margin-top: 30px;
}
.banner{
	width: 1000px;
	height: 30px;
	border-bottom: 2px solid #669900;
	margin: 0 auto;
}
.banner-left{
	height: 30px;
	width: 202px;
	float: left;
}
.banner-left h2{
	background: #669900;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}
.banner-left a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	display: block;
	margin-top: 8px;
	margin-left: 25px;
}
.banner-left a h3{
	font-size: 14px;
}
.banner-right{
	height: 30px;
	float: left;
}
.banner-right span{
	font-size: 14px;
	line-height: 25px;
	margin-left: 25px;
	font-weight: 600;
}

// imgas
.imgas{
	width: 1260px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background: #eaf3ff;
}
.box{
	margin: 0 auto;
	width: 1000px;
	height: 100%;
	background: white;
}
.box ul{
	margin-left: 16px;
	padding-top: 22px;
	overflow: hidden;
}
.box ul li{
	margin-top: 10px;
	margin-left: 2px;
	list-style: none;
	float: left;
	width: 240px;
	height: 350px;
	border: 1px solid #e3e1e2;
}
.box ul li p{
	font-size: 12px;
}
.box ul li h3{
	font-size: 16px;
	color: #ea2125;
	margin-left: -154px;
	margin-top: 10px
}
.box ul li a{
	display: block;
	width: 200px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	background: #f75d57;
	color: #ffffff;
	border-radius: 4px;
	margin-left: 24px;
	margin-top: 20px;
}

// sfyx
.sfyx{
	clear: both;
}
.sfyx-left{
	width: 234px;
	height: 134px;
	float: left;
	clear: both;
}
.sfyx-center{
	float: left;
	width: 730px;
	height: 134px;
}
.sfyx-center a{
	font-size: 14px;
	text-decoration: none;
    color: #646464;
}
.sfyx-center ul{
	float: left;
	list-style: none;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    line-height: 22px;
}
.sfyx .sfyx-center-font{
	font-size: 16px;
	color: #707070;
	font-weight: 600;
}
.sfyx-right img{
	margin-left: -30px;
}
.houkun{
	margin-top: 40px;
}
.sfyx-center ul li:hover{
	color: #669900;
}